#js {
    background-color: red;
}
#jquery {
 background-color: blue;
 color: #fff;
}

@keyframes fromRight {
    from {
        transform: translate(500px, 100px);
        color: #fff;
    }
    to {
        transform: translate(0px, 0px);
        color:#000;
    }
}

.fromRight {
    animation: fromRight 2s ease-in;
}