/* Comments */

/* --------------Overflow ----------------- 

prevents text from spilling over to next element*/
#test{
    max-height: 100px;
    overflow: scroll
    /* overflow: hidden; */

}



/* Border -- border around the content 
Margin --- margin outside border
 Padding -- betweeen border and the content 
 
 Display:
 inline
 block
 inline block - flow like inline while retaining all other features of block
 
 visibility: hidden or visible
 
 border-radius - for rounded border
 */

 /* --------------Position-------------- */

 span{
     position: fixed;
 }

 /* Display:
 inline
 block
 inline block  */
 /* position:
 fixed: doesnt change no matter what
 relative: flows line an inline 
 static: normal default browser setting
 absolute: element gets taken out of normal flow nothing affects it (like its not there)
 
 z-index: decides which appears over the other e.g. 1 or 2
 float: takes a element leftmost or rightmost (still normal flow)

 NOTE: floated elements can sometimes be ignored in the box
 Solution:
 box property
 overflow:auto
 width:100%
 */

 /* -------------------------------RESPONSIVE ---------------------------------------------- */

 /* responsive positioning */
/* div{
    transform: translate(30vw,30vh); //view width and view height
    background: url();
    background-size: 100% 100% or 100vw 100vh;
} */

/* 
static cannot
position: relative can be affected by top bottom right left properties
fixed is affected and isnt affected by scrolling
absolute is absolute to its nearest element e.g. dropdown to nav.
sticky scroll with the viewport until a condition is met then it is fixed e.g. top:0 ie. at the top
*/

/* positioning
    padding/margin
    transform:translate
    top, bottom,left,right (not static)
*/

/* -----------------Aligning Elements ---------------- */

section{
    height: 50vh;
    background-color: red;
    text-align: center;
    /* -----------Vertical align -----------*/

     display: flex;
     /* vertical */
    align-items: center; /* all items */ 
    /* horizontal */
    justify-content: center;
}
section:nth-child(even){
    background-color: aquamarine;
}

section h1 {
    /* vertical align block */
    /* position: relative;
    top: 50%; */
}
section button {

}

section label {

  
}