#flex {
    display: flex;
    flex-direction: row;
    /* margin:auto; */
}

#box {
    /* flex: 1:1 or 1:2 etc */
    flex:1;
    background-color: red;

    /* enclosed in div tag */
    display: flex;
    height: 100vh;
    align-items: center; /* horizontal */
    justify-content: center;  /* vertical */
}

#box2{
    flex:1;
    background-color: pink;

    display: flex;
    /* flex-direction: column; */
    height: 100vh; /*height needed to center vertically*/
    align-items: center;
    justify-content: center;
}

/* box-sizing: border-box;  
includes the padding in an element's total width & height
for equal width & height*/

/* flex-wrap: wrap
wraps the items for window resizing (responsive)
*/
