body {
    background-color: #000;
    color: #fff;
}

#box {
    background-color: #fff;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    /* property must be declared to target it for transitions */
    transition-property: background, border-radius;
    transition-duration: 3s;
    transition-delay: 1s;
    transition-timing-function: linear;
}

#box:hover{
    background-color: red;
    border-radius: 50%;
}

#btn {
    animation: btn 3s ease-out 1s 2 alternate forwards;
    /* targets the transform animation */
    transition-property: transform;
    transition-duration: 1s;
}
#btn:hover {
    transform: rotateY(180deg);
} 

#line {
    background-color: white;
    width: 50px;
    height: 10px;
    margin: 5px;
}

.closebtn {
    background-color: red;
    visibility: hidden;
}


/* -----------Transition--------------- */
    /* [property] [duration] [ease] [delay]*/
    /* transition: font-size 2s ease-in 1s; */


    /* from to // percentages */
    @keyframes fromRight {
        from {
            margin-left: 100%;
            width: 300%; 
          }
        
          to {
            margin-left: 0%;
            width: 100%;
          }
    }

    /* transform with transition */
h2 {
    transform: rotate(360deg) translateY(20px);
    transition: 3s;
}

p {
    animation: fromRight 1s;
}

/* 
TRANSITIONAL PROPERTIES
-Properties that have an identifiable halfway point

background-color 
background-position 
border-color 
border-width 
border-spacing 
bottom 
color
font-size 
font-weight 
height left 
letter-spacing 
line-height 
margin 
max-height 
max-width 
min-height 
min-width 
opacity 
outline-color 
outline-offset 
outline-width 
padding right 
text-indent 
text-shadow 
top 
vertical-align 
visibility 
width 
word-spacing 
z-index */