/*  --------- SASS commands-------------
npm install sass -g (to run from any cmd)
npm install sass -s (install to this project)
sass ./scss/main.scss ./dist/css/main.css (watch this file)
sass --watch scss:dist/css --style compressed  (watch this folder and minify)
npm uninstall sass -s (uninstall and save)
*/

/* ----------Variables can be used in SASS----------- */

$bg: #6aa6c9;
$ff: Helvetica, sans-serif;

body {
    background: $bg;
    font-family: $ff;
}

/* -------------Nesting---------- */
nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
    
    //& is the same as nav a {}
    & a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }

  /* -------------partials and imports----------- */

  /* partials is scss files with _partial to indicate they are code snippets, these are imported in the main file */
@import '_partial';

/* ----------Mixins--------------- */

/* used to create a group of CSS declarations similar to a function with parameters */

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
    padding-top: 10px;
}

#mixinEx {
    @include transform(rotate(5deg));
}

/* -------------Extends------------ */

/* VERY USEFUL eliminate the need to add multple classes in html */
/* % indicates its an extend */

%extended-css { //variable name
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.success {
    @extend %extended-css ;
    color:green;
}

.error {
    @extend %extended-css ;
    color: maroon;
}

/* ---------------Operators------------ */
/* doing maths in CSS allows for fluid grids  */

.container { width: 100%; }


article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
}


/* ------------- Misc------------- */

/* 
background: darken($bg, 5); 
background: lighten($bg, 5);  //parameter, value
*/

/* media and translate3d */